body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#filters, #columnToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#filters label, #columnToggle label {
    margin-right: 10px;
}

#filters input, #filters select, #filters button {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #0073e6;
    color: white;
}

table td {
    word-wrap: break-word;
    max-width: 200px;
}

canvas {
    margin-bottom: 20px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005bb5;
}
